:root{
    --primary:#2563EB;
    --dark:#1E3A8A;
    --light:#DBEAFE;
    --hover:#1D4ED8;
    --success:#22C55E;
    --danger:#EF4444;
    --white:#FFFFFF;
    --text:#1F2937;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:linear-gradient(135deg, var(--primary), var(--dark));
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

/* CARD CONTAINER */
.card{
    background:white;
    color:var(--text);
    padding:30px;
    width:350px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    text-align:center;
}

/* INPUTS */
input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    background:var(--primary);
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    font-size:16px;
}

button:hover{
    background:var(--hover);
    transform:scale(1.03);
}

/* DASHBOARD */
.dashboard{
    text-align:center;
    padding:40px;
}

.dashboard h1{
    margin-bottom:20px;
}

.btn-group button{
    width:200px;
    margin:10px;
}